<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9-TMI-dT0QCEv-ybRJVYSsU8OXMxVEBM</string>
	<key>GCM_SENDER_ID</key>
	<string>216734172973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adpatnxtApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>adaptnxtapp</string>
	<key>STORAGE_BUCKET</key>
	<string>adaptnxtapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216734172973:ios:f86723a5eb95a5e24d75a4</string>
</dict>
</plist>